html {
    background: #dddddd;
}

.drop-top-eighty {
    margin-top: 80px;
}

aside.aside {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    height: 100vh;
    padding: 0;
    box-shadow: none;
    background: #051d38;
    width: 5rem;
}

@media screen and (max-width:1023px) {
    /*Hides the sidebar*/
    html.has-aside-mobile-transition aside.aside.is-placed-left {
        width: 15rem;
        display: block;
        left: -15rem;
    }

    /*Relocates the sidebar*/
    html.has-aside-mobile-expanded aside.aside.is-placed-left {
        left: 0;
    }

    /*Shifts the content*/
    html.has-aside-mobile-expanded nav.navbar, html.has-aside-mobile-expanded #app {
        margin-left: 15rem;
    }

    /*Keeps the content from being squished*/
    html.has-aside-mobile-transition #app, html.has-aside-mobile-transition nav.navbar {
        width: 100vw;
    }

    /*Keeps the content from scrolling*/
    html.has-aside-mobile-expanded {
        overflow: hidden;
    }

    /*Keeps the view from scrolling*/
    html.has-aside-mobile-transition body {
        overflow-x: hidden;
    }
}

@media screen and (min-width:1024px) {
    html.has-aside-left.has-aside-expanded body, html.has-aside-left.has-aside-expanded nav.navbar {
        padding-left: 12rem;
    }

    html.has-aside-left body, html.has-aside-left nav.navbar {
        padding-left: 5rem;
    }

    aside.aside.is-expanded {
        width: 12rem;
    }

    html.has-aside-left aside.is-placed-left {
        display: block;
    }
}