html {
    background: #dddddd;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

aside.aside .image {
    margin: 1rem auto;
}

aside.aside .image img {
    max-width: 3rem;
    margin: 0 auto;
}

aside.aside .menu-list li ul {
    display: none;
    border-left: 0;
    background-color: rgba(5, 29, 56, .5);
    padding-left: 0;
    margin: 0 0 .75rem;
}

aside.aside .menu-list li ul li a {
    padding: .75rem 0 .75rem .75rem;
    font-size: .95rem;
}

aside.aside .menu-list li ul li a.has-icon {
    padding-left: 0;
}

aside.aside .menu-list li ul li a.is-active:not(:hover) {
    background: transparent;
}

aside.aside .menu-list a .icon {
    width: 5rem;
}

aside.aside .menu-list a .icon.has-update-mark:after {
    right: 1.65rem;
}

aside.aside .menu-list a span.menu-item-label {
    display: none;
}

.menu-list a {
    border-radius: 0;
    color: hsla(0, 0%, 100%, .3);
    display: block;
    padding: 1rem 0;
}

.menu-list a:hover {
    background-color: #041528;
    color: #fff;
}

.menu-list a.is-active {
    background-color: #04172c;
    color: #fff;
}

.menu-item-label {
    font-size: 1.33rem;
}

aside.aside {
    width: 5rem;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    height: 100vh;
    padding: 0;
    box-shadow: none;
    background: #051d38;
    background-image: linear-gradient(90deg, #051d38, #1e344c);
}

@media screen and (max-width:1023px) {
    #app, nav.navbar {
        transition: margin .25s ease-in-out 50ms;
    }
    aside.aside.is-placed-left {
        transition: left .25s ease-in-out 50ms;
    }
    html.has-aside-mobile-transition body {
        overflow-x: hidden;
    }
    html.has-aside-mobile-transition #app, html.has-aside-mobile-transition nav.navbar {
        width: 100vw;
    }
    html.has-aside-mobile-transition aside.aside.is-placed-left {
        width: 15rem;
        display: block;
        left: -15rem;
    }
    html.has-aside-mobile-transition aside.aside.is-placed-left .image img {
        max-width: 4.95rem;
    }
    html.has-aside-mobile-transition aside.aside.is-placed-left .menu-list li.is-active ul {
        display: block;
    }
    html.has-aside-mobile-transition aside.aside.is-placed-left .menu-list a .icon {
        width: 3rem;
    }
    html.has-aside-mobile-transition aside.aside.is-placed-left .menu-list a .icon.has-update-mark:after {
        right: .65rem;
    }
    html.has-aside-mobile-transition aside.aside.is-placed-left .menu-list a span.menu-item-label {
        display: inline-block;
    }
    html.has-aside-mobile-expanded {
        overflow: hidden;
    }
    html.has-aside-mobile-expanded #app, html.has-aside-mobile-expanded nav.navbar {
        margin-left: 15rem;
    }
    html.has-aside-mobile-expanded aside.aside.is-placed-left {
        left: 0;
    }
    html.has-aside-right {
        overflow: hidden;
    }
    html.has-aside-right #app, html.has-aside-right nav.navbar {
        margin-left: -15rem;
    }
}@media screen and (min-width:1024px) {
    html.has-aside-left body, html.has-aside-left nav.navbar, html.has-aside-right body, html.has-aside-right nav.navbar {
        transition: padding .25s ease-in-out 50ms;
    }
    html.has-aside-left.has-aside-expanded body, html.has-aside-left.has-aside-expanded nav.navbar {
        padding-left: 12rem;
    }
    html.has-aside-left body, html.has-aside-left nav.navbar {
        padding-left: 5rem;
    }
    html.has-aside-left aside.is-placed-left {
        display: block;
    }
    aside.aside.is-expanded {
        width: 12rem;
    }
    aside.aside.is-expanded .menu-list .icon {
        width: 3rem;
    }
    aside.aside.is-expanded .menu-list .icon.has-update-mark:after {
        right: .65rem;
    }
    aside.aside.is-expanded .menu-list span.menu-item-label {
        display: inline-block;
    }
    aside.aside.is-expanded .menu-list li.is-active ul {
        display: block;
    }
    aside.aside.is-placed-right {
        top: 3.25rem;
    }
    aside.aside.is-placed-right, aside.aside.is-placed-right .aside-container {
        height: calc(100vh - 3.25rem);
    }
    aside.aside.is-placed-right .aside-container .media {
        padding-right: 1.5rem;
    }
}

@media screen and (max-width:1215px) {
    aside.aside.is-placed-right {
        background-color: #fff;
        box-shadow: -.5rem 0 1rem rgba(10, 10, 10, .1);
        right: -16.5rem;
    }
    aside.aside.is-placed-right .aside-container .media {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media screen and (min-width:1216px) {
    html.has-aside-right body {
        padding-right: 15rem;
    }
    html.has-aside-right footer.footer {
        margin-right: 1.5rem;
    }
}